.std-box-component {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: auto;
  height: 32px;
  margin-bottom: 8px;
}

.std-box-component-without-bottom-margin {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: auto;
  height: 32px;
  /* margin-bottom: 8px; */
}

.dashed-border {
  border: dashed black;
}

.solid-border {
  border: solid black;
}

.text-defaultRegular {
  font-size: 16px;
}

.kanban-board {
  display: flex;
  gap: 4px;
  /* overflow: scroll; ! Temprorarily added scrolling to test restrictToFirstScrollableAncestor in Kanboard to restrict scrolling to the container div */
}

.row-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Distribute available space evenly */
  gap: 4px;
}

.column {
  flex: 1; /* Distribute available space evenly */
  border: 1px solid #ccc; /* Optional: Add borders for better visualization */
  padding: 20px; /* Optional: Add padding for spacing */
  text-align: center; /* Optional: Center text within columns */
}

/* .column {
  flex: 1; 
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.kanban-board {
  display: flex;
} */

/* .todo-container {
  display: flex;
}

.container-item {
  flex: 2;
} */

.todo-container {
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'todo-display drag-handle';
  padding: 4px 8px;
  margin-bottom: 8px;
  
}

.todo-display {
  grid-area: todo-display;
  align-items: center;
}

.drag-handle {
  grid-area: drag-handle;
  background-color: gray;
}

.col-heading {
  font-weight: 700;
  margin-top: -5px;
  text-decoration: underline;
}
